# Java / Spring Boot
/target/
*.iml
.classpath
.project
.settings/
.factorypath
.mvn/

# Secrets
.env
application.properties

# Frontend dependencies / builds
neokart-frontend/node_modules/
neokart-frontend/build/
# neokart-frontend/frontend.zip

# Uploads
/uploads/
